.wrapper{
  width: 80%;
  margin: 0 auto;
}

.title{
  font-family: 'Lobster Two', cursive;
  font-size: 2em;
  margin: 10px;
}

.sub-title{
  margin: 1em;
}

.restaurant-form{
  display: flex;
  .address-form{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    align-items: center;
    margin-top: 0.5em;
    label{
      letter-spacing: 1px;
      font-size: 12px;
      margin: 5px;
    }
    input{
      @extend %form-sizing;
      width: 80%;
      background: rgba($lavender, 0.5);
    }
    button{
      @extend %form-sizing;
      width: 50%;
      background: rgba($blue, 0.5);
    }
  }
}
