.logo{
  display: flex;
  align-items: center;
  position: relative;
  height: 100px;
  width:150px;
  margin: 0 30px;
  h1{
    color: $black;
    font-style: italic;
    font-family: 'Lobster Two', cursive;
    font-size: 3em;
    animation: colorShift 6s 1.25s ease-in-out alternate 1;
  }
  .circle{
    position: absolute;
    @include position($top: $dot-position-height, $left: 7em);
    @include dimension($height, $width);
    background: $black;
  }
  .circle1{
    position: absolute;
    @include position($left: 2.5em);
    @include dimension($height, $width);
    animation: bounce 1s 1.25s cubic-bezier(.1,.25,.1,1) alternate 6;
  }
  .circle2{
    position: absolute;
    @include position($left: 3em);
    @include dimension($height, $width);
    animation: bounce 1s 1.5s cubic-bezier(.1,.25,.1,1) alternate 6;
  }
  .circle3{
    position: absolute;
    @include position($left: 3.5em);
    @include dimension($height, $width);
    animation: bounce 1s 1.75s cubic-bezier(.1,.25,.1,1) alternate 6;
  }

  @keyframes bounce {
    100% {
      left: 10em;
      background: $lavender;
    }
    10%  {
      @include dimension(0.25em, 0.33em);
      background: $maroon;
    }
    0%  {
      @include dimension(0.33em, 0.25em);
      background: $blue;
    }
  }
  @keyframes colorShift {
    100% {
      color: $black;
    }
    50%  {
      color: $maroon;
    }
    0%  {
      color: $black;
    }
  }
}
